{% extends "blog/base.html" %}

{% block content %}
    {% if errors %}
            <li>
                登录错误
                {% for error in errors %}
                 <p style="color: red;">
                    {{error}}
                 </p>
                  {% endfor %}
            </li>
        {% endif %}

    <table>

        <form action="" method="post">{% csrf_token %}

            <tr>
                <td>
                    <label >用户名:</label>
                </td>
                <td>
                    <input type = 'text' placeholder="输入用户名" name = 'username'>
                </td>
            </tr>
            <tr>
                <td>
                    <label >密码:</label>
                </td>
                <td>
                  <input type = 'password' placeholder="输入密码" name = 'password'>
                </td>
            </tr>

              <tr>

                  <td>
                       <input type = 'submit' placeholder="Login" value="登录">
                  </td>
              </tr>
        </form>
    </table>






{% endblock %}


