{% extends "blog/base.html" %}

{% block content %}

    {% if error %}
            <li style="font-size: x-large;color: yellow">
                注册错误
                {% for err in error %}
                 <p style="color: red;">
                    {{err}}
                 </p>
                  {% endfor %}
            </li>
        {% endif %}
    <table>
        <form action="" method="post">{% csrf_token %}

            <tr>
                <td>
                    <label >用户名:</label>
                </td>
                <td>
                    <input type = 'text' placeholder="输入用户名" name = 'username'>
                </td>
            </tr>
            <tr>
                <td>
                    <label >密码:</label>
                </td>
                <td>
                  <input type = 'password' placeholder="输入密码" name = 'password'>
                </td>
            </tr>
             <tr>
                 <td>
                    <label >确认密码:</label>
                 </td>
                 <td>
                     <input type = 'password' placeholder="再次输入密码" name ='password2'>
                 </td>

             </tr>
             <tr>
                 <td>
                     <label>邮箱:</label>
                 </td>
                 <td>
                     <input type="email" placeholder="输入邮箱" name = 'email'>
                 </td>
             </tr>

              <tr>

                  <td>
                       <input type = 'submit' placeholder="Login" value="注册">
                  </td>
              </tr>
        </form>
    </table>



{% endblock %}
